
 <!DOCTYPE html>
<html>
<head>
<title>About</title>

    <ul> 
        <li><a href="/" >Home </a></li>
            <li><a href="form" >Research</a></li>
    </ul>

    <link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>
<body>
<div>
<h1>About the Project</h1></div>
<div class="right-nav">
	<img src="img/dorian.jpeg" text-align= "center" ><br>
	<p>Dorian CASSAGNE, 2nd year engineering school CNAM</p>
	<div class="right-nav-block"></div>
	<br>
	<div class="right-nav-block"> <a href="img/Rapport_SIW_20-21.pdf">Link to the report </a></div>
</div>
<h2>Subject</h2>
<iframe src="img/Projet_SIW_20-21.pdf" height="1200" width="800"></iframe>
</body>


</body>
</html> 