
 <!DOCTYPE html>
<html>
<head>
<title>Form</title>

    <ul> 
        <li><a href="/" >Home </a></li>
            <li><a href="/about" >About</a></li>
    </ul>

    <link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>
    <body>
        <br>

<div class="banniere"> <img src="img/research.png" >    </div>
    </head>
    <h1>Research the Video Game</h1>


        <form class="form-style" action="gamelist" method="get">

    <label for="Name"><span>Name :</span>
        <input type="text" id="name" name="name">
    </label>
    
        <label for="genre"><span>Genre:</span>
        <input type="text" id="genre" name="genre">
    </label>
    
        <label for="platform"><span>Platform :</span>
        <input type="text" id="platform" name="platform">
    </label>

        <label for="publisher"> <span> Publisher :</span>
        <input type="text" id="publisher" name="publisher">
    </label>

        
    <label>
    <span> </span><input type="submit" value="Research" />
    </label>
</form>

</body>
</html> 